---
swagger: 2.0
info:
  description: Hello World API
  version: 1.0
  title: hello-world
  contact:
    name: Arquitectura Software
    url: none
    email: ignacio.lopezv@santalucia.es
  x-dominio: Gadgets
  x-desc-dominio:
    schema:
      $ref: '#/definitions/desc-dominio'
host: apis.santalucia.es
basePath: /hello-world/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- oauthApplication: []
paths:
  /hello/{name}:
    get:
      tags:
      - hello-world
      summary: say hello to name
      description: say hello to name
      operationId: getHelloByName
      parameters:
      - name: name
        in: path
        description: hello name
        required: true
        type: string
        maxLength: 15
      - name: X-Request-ID
        in: header
        description: Identificador único de la petición
        required: false
        type: string
        format: uuid
        x-example: AVDGSGRT-DHUEYR74R-SJDK75EJDSK
      responses:
        "200":
          description: ok response
          schema:
            $ref: '#/definitions/identidadDigitalConsulta'
  /agencias/list:
    get:
      tags:
      - list-agencias
      summary: recovery agencias list
      description: recovery agencias list
      operationId: getAgenciasList
      x-spring-paginated: true
      parameters:
      - name: X-Request-ID
        in: header
        description: Identificador único de la petición
        required: false
        type: string
        format: uuid
        x-example: AVDGSGRT-DHUEYR74R-SJDK75EJDSK
      responses:
        "200":
          description: ok response
          schema:
            type: array
            items:
              $ref: '#/definitions/agencia'
  /employees/list:
    get:
      tags:
      - list-employees
      summary: recovery employees list
      description: recovery employees list
      operationId: getEmployeesList
      x-spring-paginated: true
      parameters:
      - name: X-Request-ID
        in: header
        description: Identificador único de la petición
        required: false
        type: string
        format: uuid
        x-example: AVDGSGRT-DHUEYR74R-SJDK75EJDSK
      responses:
        "200":
          description: ok response
          schema:
            type: array
            items:
              $ref: '#/definitions/employee'
  /indicadores/list:
    get:
      tags:
      - list-indicadores
      summary: recovery indicadores centros list
      description: recovery indicadores centros list
      operationId: getIndicadoresList
      x-spring-paginated: true
      parameters:
      - name: X-Request-ID
        in: header
        description: Identificador único de la petición
        required: false
        type: string
        format: uuid
        x-example: AVDGSGRT-DHUEYR74R-SJDK75EJDSK
      responses:
        "200":
          description: ok response
          schema:
            type: array
            items:
              $ref: '#/definitions/indicador'
securityDefinitions:
  oauthApplication:
    type: oauth2
    tokenUrl: https://sso-sldev.santalucia.es/auth/realms/stl-int/protocol/openid-connect/token
    flow: application
    
definitions:
  identidadDigitalConsulta:
    type: object
    properties:
      nombre:
        type: string
        example: hello juan
        description: Nombre
        maxLength: 40
  agencia:
    type: object
    properties:
      dprov:
        type: string
        example: "Madrid"
        description: Provincia de la agencia
        maxLength: 255
      dpoblaci:
        type: string
        example: "Alicante"
        description: Poblacion de la agencia
        maxLength: 255
      dagencia:
        type: string
        example: "Nombre agencia"
        description: Nombre agencia
        maxLength: 255
      dtvia:
        type: string
        example: "calle"
        description: tipo de via
        maxLength: 255
      ddomici:
        type: string
        example: "lepanto 5"
        description: domicilio de la agencia
        maxLength: 255
  employee:
    type: object
    properties:
      firstName:
        type: string
        example: "Juan"
        description: First name
        maxLength: 255
      lastName:
        type: string
        example: "Smith"
        description: Last name
        maxLength: 255
      emailAddress:
        type: string
        example: "prueba@dominio.es"
        description: direccion de email
        maxLength: 255
  indicador:
    type: object
    properties:
      ccentrab:
        type: integer
        example: "2"
        description: ccentrab
        maxLength: 5
      xcacetra:
        type: string
        example: "Smith"
        description: xcacetra
        maxLength: 255
      finvaldt:
        type: string
        format: date
        example: "2019-01-30"
        description: finvaldt
      ffivaldt:
        type: string
        format: date
        example: "2019-01-30"
        description: ffivaldt
      fregilog:
        type: string
        format: date
        example: "2019-01-30"
        description: fregilog